<p>update-event works!</p>
<h2>Update Event</h2>

<form >
  <div>
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" >
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" ></textarea>
  </div>

  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" >
  </div>

  <div>
    <label for="lieu">Lieu:</label>
    <input type="text" id="lieu" name="lieu">
  </div>

  <div>
    <label for="affiche">Affiche:</label>
    <input type="text" id="affiche" name="affiche" >
  </div>

  <button type="submit">Update Event</button>
</form>
